<div class="map-container">
  <google-map id="map" [options]="options" [width]="'100%'" [height]="'100%'">
    @for (salesman of salesmanList(); track salesman.id) {
      <map-advanced-marker
        [position]="{
          lat: salesman.coordinates.latitude,
          lng: salesman.coordinates.longitude,
        }"
        [options]="markerOptions"
        [content]="getMarkerContent(salesman)"
        (mapClick)="onMarkerClick(salesman)"
      />

      <map-info-window>
        <div class="info-container">
          <div class="img-container">
            <img
              [src]="`photos/${selectedSalesman()?.photo}.jpg`"
              alt="Foto del vendedor"
            />
            <b class="badge" [ngClass]="{'color-green': true, 'color-red': !selectedSalesman()?.isActive}">●</b>
          </div>
          <div class="name-container">
            <h2>{{ selectedSalesman()?.name }}</h2>
            <h5>{{ selectedSalesman()?.category }}</h5>
            <div class="button-container">
              <button mat-flat-button>Ver</button>
            </div>
          </div>
        </div>
      </map-info-window>
    }
  </google-map>
</div>
