/* You can add global styles to this file, and also import other style files */

// Variables de colores
$primary-color: #007bff;
$success-color: #28a745;
$danger-color: #dc3545;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
